<%- include('partials/header'); -%>
  <div class="row p-2 mt-1">
    <div class="col-2 mt-2"></div>
    <div class="col">
      <img src="/images/pizza.png" class="img-fluid" alt="...">
    </div>
    <div class="col home-heading">
     <div class="row">
       <div class="col">
         <p>Welcome to Pizza House</p>
       <div class="col">
        <button class="btn btn-dark order-pizza">Order Pizza</button></div>
       </div>
     </div>
    </div>
    <div class="col">
     
    </div>
  </div>
